@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_HOME).Text;
}

<img class="sizable" src="~/Content/Images/FondDefenseByNight-01.jpg" />

<div class="text-center">
    <h3>@Translate.GetTraduction(EnumRessource.GEN_LBL_WELLCOME).Text</h3>
</div>

<br />

@Html.Partial("_Countdown")

<br />
<div class="container">
    <div class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sagittis nunc sit amet neque venenatis, vitae consequat nibh efficitur. Suspendisse finibus eu risus aliquet egestas. Vivamus sed fringilla urna, eget consectetur dolor. Maecenas congue, leo a efficitur porttitor, metus enim efficitur nunc, quis tincidunt purus turpis eu nisi. Cras lectus neque, gravida sit amet finibus eu, aliquam a dui. Nunc molestie justo porta, mattis sem vitae, fringilla lectus. Suspendisse mollis tempor enim eget venenatis. Curabitur non blandit nisi. Suspendisse egestas semper leo, sed pellentesque eros pretium et. Donec sodales dolor nisl, molestie euismod felis blandit sit amet. Nunc lobortis, dolor et tempus maximus, lorem elit auctor odio, ac condimentum diam ligula a libero. Praesent posuere velit vel fermentum tempor. Quisque eu magna eget est luctus vestibulum. Ut sed eleifend arcu.
    </div>
    <hr />
    <div class="text-justify">
        Morbi sit amet ipsum mollis arcu fringilla malesuada vel eu dolor. Vestibulum et risus justo. Integer et ipsum velit. Aenean at ornare dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi faucibus elementum tellus sed scelerisque. Nullam blandit tristique erat, quis eleifend justo blandit vel. Aenean ac mattis magna, vehicula molestie mauris.
    </div>
    <hr />
    <div class="text-justify">
        Nulla pretium lorem ac risus consectetur dictum. Nam ut lobortis mauris. Mauris sed elit id ligula dictum accumsan nec eu elit. Suspendisse nec euismod lorem. Sed sed leo blandit, congue justo et, tristique lorem. Pellentesque mauris velit, aliquam vel orci at, tempus volutpat diam. Mauris sit amet dapibus eros. Nullam nec mi odio. Donec finibus, metus id ultricies ullamcorper, diam nibh blandit nisi, ut elementum orci tellus id nisl. Nullam eu ultrices magna, non hendrerit nisl. Pellentesque vel ullamcorper justo. Pellentesque rhoncus a mi non malesuada. Duis finibus sapien vel est mollis varius. Aliquam tempor vel velit eget laoreet.
    </div>
    <hr />
    <div class="text-justify">
        Aenean ante lectus, venenatis eu dolor eu, ultricies bibendum turpis. Ut tincidunt viverra lorem, vel viverra orci imperdiet eget. Curabitur dictum ligula eget ligula hendrerit, quis semper nibh placerat. Nunc pretium, ligula id mollis posuere, leo tortor dictum ligula, eget commodo neque lectus id risus. Vestibulum malesuada et mi nec fringilla. In et est a felis fringilla tincidunt nec id massa. Vivamus ullamcorper varius odio, ac molestie risus pretium vitae. Nunc gravida nibh felis, id molestie leo viverra vitae. Nam vitae arcu vel urna facilisis porttitor ultrices ut tellus.
    </div>
    <hr />
    <div class="text-justify">
        Vivamus tempus mi id enim hendrerit, dictum sodales nisi convallis. Proin aliquam convallis ante, id varius massa commodo sit amet. Donec condimentum rutrum nibh et blandit. Pellentesque nec nisi tempus, fermentum eros at, dictum lorem. Sed ligula mi, consequat vel est interdum, feugiat commodo lorem. Mauris id mattis erat, at maximus mi. Mauris vitae ornare ligula. Morbi pretium egestas ante, eget gravida arcu ultricies sed. Proin sed lacus vel arcu auctor condimentum. Morbi eu fermentum libero, eu semper lacus. Etiam venenatis mi vitae lorem volutpat luctus.
    </div>
    <hr />
    <div class="text-justify">
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam arcu ligula, ultricies vitae pharetra in, ultricies in mauris. Proin accumsan ac orci id pellentesque. Ut facilisis cursus magna ut tincidunt. Aliquam erat volutpat. Nunc at iaculis nulla. Aliquam sollicitudin, augue nec venenatis euismod, massa elit eleifend turpis, vel dapibus massa risus id augue. Ut in mi varius, accumsan dolor nec, eleifend nibh. Duis volutpat consequat augue ac pellentesque. Cras auctor nunc quam, nec mattis augue tincidunt in. Praesent pellentesque aliquam egestas. Proin vel porttitor odio.
    </div>
    <hr />
    <div class="text-justify">
        Fusce quis fermentum velit, sodales rutrum eros. Curabitur feugiat rutrum dictum. Fusce fermentum mattis nunc, non facilisis arcu pretium id. Fusce rhoncus ultrices sem id consectetur. Maecenas fermentum urna arcu, eu lacinia mi posuere sit amet. Vivamus id sollicitudin nulla. Morbi vehicula, lorem a malesuada maximus, nisl nibh dapibus ante, in venenatis metus massa vel massa. Etiam sapien lorem, mollis eget volutpat vel, volutpat luctus risus. Sed metus nibh, maximus vitae vestibulum eu, facilisis non nisl.
    </div>
    <hr />
    <div class="text-justify">
        Nulla porttitor a ipsum vel sollicitudin. Donec suscipit urna nec tincidunt venenatis. Duis eu risus metus. Duis metus risus, molestie non fringilla id, iaculis sit amet felis. Curabitur luctus aliquet nulla a dictum. Donec mauris turpis, tempor eu odio et, dictum iaculis mauris. Proin luctus viverra tempor. Sed eget placerat ipsum. Duis imperdiet fringilla nunc in finibus. Nulla interdum tincidunt ullamcorper. Aliquam blandit id lectus sed posuere. Vivamus a libero nec eros sollicitudin porta. Maecenas magna massa, rutrum vitae est non, ultrices placerat odio. Aenean id elit id orci facilisis maximus.
    </div>
    <hr />
    <div class="text-justify">
        Ut molestie metus nunc, a accumsan arcu porta sit amet. Pellentesque tristique mi sed nunc aliquet, sed vestibulum magna pulvinar. Duis condimentum nibh vitae dignissim fermentum. Sed sem ipsum, blandit eget orci et, placerat dictum leo. Vestibulum sapien mauris, posuere a est eu, venenatis lobortis velit. Aenean eget mauris lorem. Quisque lobortis id mauris lobortis consectetur. Vivamus aliquam lectus at enim vestibulum, in vulputate urna efficitur. Quisque ultricies quam a magna pulvinar faucibus. Curabitur a ullamcorper risus. Pellentesque at venenatis dolor, at scelerisque nisl.
    </div>
    <hr />
    <div class="text-justify">
        Praesent facilisis eu risus nec finibus. In hac habitasse platea dictumst. Donec varius neque metus, aliquet tincidunt purus lacinia nec. Curabitur purus erat, vehicula eget facilisis id, vehicula sed nunc. Proin feugiat suscipit neque dapibus venenatis. Donec fringilla eros iaculis hendrerit mollis. Donec ut urna egestas, dignissim dolor non, vehicula justo. Suspendisse a diam dui. Morbi placerat ex mattis tortor luctus dapibus in sed odio. Pellentesque vehicula accumsan eros, euismod aliquet nibh eleifend rutrum. Vestibulum gravida quis est a varius. Ut ex erat, consectetur a risus sed, pellentesque fringilla neque. Cras rhoncus, massa non ullamcorper mattis, tortor metus varius mauris, ac laoreet diam risus non leo. Morbi mi odio, mollis ac justo in, congue ultricies tellus. Proin dignissim quis odio sed ornare. Fusce vel metus nulla.
    </div>
</div>