@font-face {
    font-family: Northwood High;
    src: url('../fonts/Northwood High.ttf');
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.topDisciplines {
    position: fixed;
}

.navbarScroll {
    overflow-x: auto;
    height: calc(100vh);
}

body {
    margin-top: 50px;
    margin-bottom: 30px;
}

.dotPower {
    padding-bottom: 15px;
}

    .dotPower > i {
        font-size: 10px;
    }

div.ancorButtonToTop {
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
    z-index: 1;
}

.title {
    font-family: "Northwood High";
    text-align: center;
    color: #990000;
}

a.title {
    cursor: pointer;
    text-decoration: none;
    color: #990000;
}

.footer-style {
    background-color: black;
}

#countdown {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

img.sizable {
    width: 100%;
}



.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
