@font-face {
    font-family: Northwood High;
    src: url('../fonts/Northwood High.ttf');
}

body {
    margin-top: 50px;
    margin-bottom: 30px;
}

.title {
    font-family: "Northwood High";
    font-size: 50px;
    text-align: center;
    color: #990000;
}

a.title {
    cursor: pointer;
    text-decoration: none;
    color: #990000;
}

.footer-style{
    background-color: black;
}

#countdown {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

img.sizable{
    width:100%;
}



/*centrage des div*/

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}