@font-face {
    font-family: Northwood High;
    src: url('../fonts/Northwood High.ttf');
}

body {
    margin: 0;
}

img.sizable {
    width: 100%;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.containerHeight{
    height: calc(100vh - 56px);
}

.title {
    font-weight: bold;
}

.footer-style {
    background-color: black;
}

#countdown {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

.clanDiv{
    padding-bottom: 15px;
}

.articleJustify {
    text-align: justify;
    text-justify: auto;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbarMain{
    z-index: 5;
}