@model List<ClanViewModel>

@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_RULES).Text;
}

<div class="container">
    <div class="row">
        <h2>Clan</h2>
    </div>

    @foreach (var clan in Model)
    {
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    @clan.Name
                </div>
                <div class="panel-body">

                    <div class="well">
                        Surname
                    </div>
                    <div class="text-center">
                        @clan.Surname
                    </div>

                    <div class="well">
                        Histoire
                    </div>
                    <div class="text-center">
                        @clan.History
                    </div>

                    <div class="well">
                        Orga
                    </div>
                    <div class="text-center">
                        @clan.Organisation
                    </div>
                </div>
            </div>
        </div>
    }

</div>