@model List<ClanViewModel>

@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_CLANS).Text;
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Partial("_SideMenu")
        </div>
        <div class="col-sm-10">
            @Html.Partial("_ClansDescription")
        </div>
    </div>
</div>
