@model List<DisciplineViewModel>

<div class="nav">
    <div class="row">
        <a href="#">@Translate.GetTraduction(EnumRessource.GEN_LBL_DISCIPLINE).Text</a>
        <hr />
        @foreach (var discipline in Model)
        {
            <div class="col-sm-12">
                <a href="#@discipline.DisciplineName">@discipline.DisciplineName</a>
            </div>
        }
    </div>
</div>