@model List<DisciplineViewModel>

<div class="nav flex-column nav-pills align-content-end" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    @foreach (var discipline in Model)
    {
        <a id="link_@discipline.DisciplineKey" href="#@discipline.DisciplineKey" class="nav-link @(Model.IndexOf(discipline) == 0 ? "active" : "")" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="false">@discipline.DisciplineName</a>
    }
</div>
