@model List<DisciplineViewModel>

@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_RULES).Text;
}

<div class="row">
    <div class="col-md-2">
        @Html.Partial("_SideMenu")
    </div>
    <div class="col-md-8">
        @Html.Partial("_DisciplinesDescription")
    </div>
</div>

