@model List<DisciplineViewModel>

@{
    ViewBag.Title = Translate.GetTraduction(EnumRessource.GEN_LBL_RULES).Text;
}

@section head{
    @Styles.Render("~/Content/DisciplineDescription")
}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            @Html.Partial("_SideMenu")
        </div>
        <div class="col-sm-10">
            @Html.Partial("_DisciplinesDescription")
        </div>
    </div>
</div>
